* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Jenkinsfile -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-srd.pc.in -text
/apertium-srd.post-srd.dix -text
/apertium-srd.srd.acx -text
/apertium-srd.srd.dix -text
/apertium-srd.srd.rlx -text
/autogen.sh -text
/configure.ac -text
corpus/comprovar_disam.pl -text
corpus/srd.crp.morf.200.txt -text
corpus/srd.crp.morf.300.txt -text
corpus/srd.crp.morf.400.txt -text
corpus/srd.crp.morf.disam.200.txt -text
corpus/srd.crp.morf.disam.300.txt -text
corpus/srd.crp.morf.disam.400.txt -text
corpus/srd.crp.txt -text
/genvdix.py -text
/modes.xml -text
/srd.prob -text svneol=unset#unset
/test_verbs.bash -text
texts/cuento.vislcg.txt -text
texts/puupankki/puupankki.srd.conllu -text
